.setting-bg {
  width: 95%;
  height: 100vh;
  background-color: #f8f8f8;
  float: right;
  font-size: 2.5vh;
  color: #424242;
  .setting {
    width: 90%;
    height: 79vh;
    margin: 5vh auto;
    padding: 5vh 0;
    border: 0.3vh rgb(197, 197, 197) solid;
    border-radius: 5vh;
    .setting-divider {
      display: block;
      width: 88%;
      height: 0.2vh;
      background-color: rgb(211, 211, 211);
      margin: 7vh auto;
    }
    li {
      // background-color: palegoldenrod;
      width: 90%;
      height: 5vh;
      margin: 3.5vh auto;
      line-height: 5vh;
    }
    .item {
      // background-color: paleturquoise;
      width: 17%;
      margin: auto 0 auto 4%;
      float: left;
      letter-spacing: 2px
    }
    .content {
      // background-color: pink;
      width: 79%;
      float: right;
      select {
        width: 20%;
        height: 5vh;
        margin: 0 2% 0 0;
        padding: 5px;
        font-size: 2vh;
        border: 0;
        border-radius: 1vh;
        // 隱藏箭頭
        // -moz-appearance: none;
        // -webkit-appearance: none;
      }
      button {
        height: 5vh;
        padding: 0 2%;
        font-size: 2vh;
        border: 0;
        border-radius: 0.5vh;
        background: #d0efff;
      }
      input[type="range"] {
        overflow: hidden;
        width: 50%;
        height: 1.5vh;
        margin: 1vh 3% 0 0;
        -webkit-appearance: none;
        background-color: #d8d8d8;
      }
      input[type="range"]::-webkit-slider-thumb {
        width: 1vw;
        height: 1vw;
        cursor: ew-resize;
        -webkit-appearance: none;
        background: #579abb;
        box-shadow: -20vw 0 0 20vw #d0efff;
      }
    }
  }
}