.setting-bg {
  height: 100%;
  background-color: #f8f8f8;
  color: #424242;
  padding: 5vh;
  .setting {
    padding: 8vh 8vh 10vh;
    border: 0.3vh rgb(197, 197, 197) solid;
    border-radius: 5vh;
    ul{
      display: grid;
      gap: 24px;
      .location {
        grid-template-rows: repeat(3, 1fr);
      }
      .view{
        grid-template-rows: repeat(1, 1fr);
      }
    }
    .setting-divider {
      display: block;
      height: 0.2vh;
      background-color: rgb(211, 211, 211);
      margin: 7vh auto;
    }
    li {
      display: grid;
      grid-template-columns: 1fr 4fr;
    }
    .item {
      letter-spacing: 2px;
      margin: auto 0;
    }
    .content {
      select {
        width: fit-content;
        height: fit-content;
        font-size: 1rem;
        margin: 0 2% 0 0;
        padding-right: 28px;
        background-color: rgb(240, 240, 240);
      }
      button {
        padding: 8px 16px;
        border: 0;
        border-radius: 0.5vh;
        background: #d0efff;
      }
      button:disabled {
        background: #ececec;
      }
      input[type='range'] {
        overflow: hidden;
        width: 50%;
        height: 1.5vh;
        margin: 1vh 3% 0 0;
        -webkit-appearance: none;
        background-color: #d8d8d8;
      }
      input[type='range']::-webkit-slider-thumb {
        width: 1.5vh;
        height: 1.5vh;
        cursor: ew-resize;
        -webkit-appearance: none;
        background: #579abb;
        box-shadow: -20vw 0 0 20vw #d0efff;
      }
      input[type='range']::-moz-range-thumb {
        width: 1.5vh;
        height: 1.5vh;
        cursor: ew-resize;
        background: #579abb;
        box-shadow: -20vw 0 0 20vw #d0efff;
        border-radius: 0;
        border-color: #579abb;
      }
    }
  }
}
