.time-period {
  height: 100%;
  background: no-repeat center center / cover;
}
.midnight {
  background-image: url('@/assets/img/timePeriod/midnight.jpg');
}
.dawn {
  background-image: url('@/assets/img/timePeriod/dawn.jpg');
}
.dayTwilight {
  background-image: url('@/assets/img/timePeriod/dayTwilight.jpg');
}
.sunrise {
  background-image: url('@/assets/img/timePeriod/sunrise.jpg');
}
.morning {
  background-image: url('@/assets/img/timePeriod/morning.jpg');
}
.daytime {
  background-image: url('@/assets/img/timePeriod/daytime.jpg');
}
.noon {
  background-image: url('@/assets/img/timePeriod/noon.jpg');
}
.afternoon {
  background-image: url('@/assets/img/timePeriod/afternoon.jpg');
}
.evening {
  background-image: url('@/assets/img/timePeriod/evening.jpg');
}
.sunset {
  background-image: url('@/assets/img/timePeriod/sunset.jpg');
}
.nightTwilight {
  background-image: url('@/assets/img/timePeriod/nightTwilight.jpg');
}
.dusk {
  background-image: url('@/assets/img/timePeriod/dusk.jpg');
}
.night {
  background-image: url('@/assets/img/timePeriod/night.jpg');
}

