.dashboard {
  width: 95%;
  height: 100vh;
  background-color: #98989833;
  float: right;
  .up-area {
    width: 94%;
    height: 40vh;
    // background-color: #646464;
    margin: 5vh auto 0;
    .twenty-four-hours {
      width: 62%;
      height: inherit;
      background-color: #fbfbfbcc;
      float: left;
      border-radius: 3vh;
    }
    .now-info {
      width: 35%;
      height: inherit;
      background-color: #fbfbfbcc;
      float: right;
      border-radius: 3vh;
    }
  }
  .down-area {
    width: 94%;
    height: 45vh;
    // background-color: #646464;
    margin: 5vh auto 0;
    .sun-moon-time {
      width: 32%;
      height: inherit;
      background-color: #fbfbfbcc;
      float: left;
      border-radius: 3vh;
    }
    .week-info {
      width: 65%;
      height: inherit;
      background-color: #fbfbfbcc;
      float: right;
      border-radius: 3vh;
    }
  }
}
