$homeAreaBg : rgba(255, 255, 255, 0.85);

.dashboard {
  width: 95%;
  height: 100vh;
  background-color: #98989833;
  float: right;
  .up-area {
    width: 94%;
    height: 38vh;
    // background-color: #646464;
    margin: 5vh auto 0;
    .twenty-four-hours {
      width: 62%;
      height: inherit;
      background-color: $homeAreaBg;
      float: left;
      border-radius: 3vh;
      font-size: 2.2vh;
      text-align: center;
      letter-spacing: 0.8px;
      ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        // background-color: rgb(182, 149, 107);
      }
    }
    .now-info {
      width: 35%;
      height: inherit;
      background-color: $homeAreaBg;
      float: right;
      border-radius: 3vh;
    }
  }
  .down-area {
    width: 94%;
    height: 47vh;
    // background-color: #646464;
    margin: 5vh auto 0;
    .sun-moon-time {
      width: 33%;
      height: inherit;
      background-color: $homeAreaBg;
      float: left;
      border-radius: 3vh;
    }
    .week-info {
      width: 64%;
      height: inherit;
      background-color: $homeAreaBg;
      float: right;
      border-radius: 3vh;
      font-size: 2.2vh;
      text-align: center;
      letter-spacing: 0.8px;
      ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        // background-color: rgb(182, 149, 107);
      }
    }
  }
}
