.now-info {
  .icon {
    // background-color: #acacac;
    width: 30%;
    height: 13vh;
    margin: 50px 0 0 10%;
    float: left;
    img {
      max-width: 100%;
    }
  }
  .data {
    // background-color: #acacac;
    width: 35%;
    height: 20vh;
    margin: 40px 10% 0 0;
    float: right;
    text-align: right;
    .temperature {
      // background-color: #fafafa;
      width: 100%;
      height: 10vh;
      font-size: 8vh;
    }
    .describe, .rain{
      // background-color: #fafafa;
      width: 100%;
      height: 3vh;
      margin: 1vh 0 0 0;
      font-size: 2.5vh;
    }
  }
  .time {
    // background-color: #acacac;
    width: 80%;
    height: 5vh;
    margin: 4vh 10% 0 0;
    float: right;
    text-align: right;
    font-size: 3vh;
  }
}
