.twenty {
  // background-color: antiquewhite;
  width: 90%;
  height: 15vh;
  display: block;
  margin: auto;
}
.up-list {
  width: 90%;
  height: 9.5vh;
  padding: 3.5vh 0 2vh 0;
  li {
    width: 8%;
  }
  div {
    padding: 0 0 2.5vh 0;
  }
  img {
    max-width: 80%;
  }
}

.down-list{
  width: 90%;
  height: 7vh;
  padding: 3vh 0 0 0;
  li {
    width: 8%;
  }
}