.midnight {
  background: url('../img/timePeriod/midnight.jpg') no-repeat center center;
}
.dawn {
  background: url('../img/timePeriod/dawn.jpg') no-repeat center center;
}
.dayTwilight {
  background: url('../img/timePeriod/dayTwilight.jpg') no-repeat center center;
}
.sunrise {
  background: url('../img/timePeriod/sunrise.jpg') no-repeat center center;
}
.morning {
  background: url('../img/timePeriod/morning.jpg') no-repeat center center;
}
.daytime {
  background: url('../img/timePeriod/daytime.jpg') no-repeat center center;
}
.noon {
  background: url('../img/timePeriod/noon.jpg') no-repeat center center;
}
.afternoon {
  background: url('../img/timePeriod/afternoon.jpg') no-repeat center center;
}
.evening {
  background: url('../img/timePeriod/evening.jpg') no-repeat center center;
}
.sunset {
  background: url('../img/timePeriod/sunset.jpg') no-repeat center center;
}
.nightTwilight {
  background: url('../img/timePeriod/nightTwilight.jpg') no-repeat center center;
}
.dusk {
  background: url('../img/timePeriod/dusk.jpg') no-repeat center center;
}
.night {
  background: url('../img/timePeriod/night.jpg') no-repeat center center;
}
.time-period {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
}